<!-- <div class='container-fluid'>  
    <div class="row" style="padding: 20px;">  
        <div class="col-sm-12 btn btn-success">  
            Use Bootstrap carousel in Angular 8 Project  
        </div>  
    </div>  
    <div class='col-12'>  
        <ngb-carousel>  
            <ng-template ngbSlide>  
                <img src="../../../assets/images/sliderImg1.png" alt="Delhi Metro">  
                <div class="carousel-caption" style="margin-bottom: 200px">  
                    <h3 style="color: yellow">Delhi Metro</h3>  
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="../../../assets/images/sliderImg2.png" alt="Bangalore Metro">  
                <div class="carousel-caption">  
                    <h3 style="color: yellow">Bangalore Metro</h3>  
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="../../../assets/images/sliderImg3.png" alt="Channai Metro">  
                <div class="carousel-caption">  
                    <h3 style="color: yellow">Channai Metro</h3>  
                </div>  
            </ng-template>   
        </ngb-carousel>  
    </div>  
   -->
<!-- <div class="slider-container">
    <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows" #carousel id="carousel"
        [showNavigationIndicators]="showNavigationIndicators" 
        
        >
        <ng-template ngbSlide *ngFor="let image of images; let i=index">
            <div class="picsum-img-wrapper slider-image-container">
                <img [src]="image" alt="Random slide">
            </div>
            <div class="slider-caption">
                <h3>{{sliderArr[0].heading[i]}}</h3>
                <p>{{sliderArr[0].subHeading[i]}}</p>
            </div>
        </ng-template>
    </ngb-carousel>
</div> -->
<div class="slider-container">
    <div class="carousel">
        <img [src]="sliderImage" alt="Random slide">
        <div class="slider-caption">
            <h3>{{sliderHeading}}</h3>
            <p>{{sliderSubHeading}}</p>
        </div>
    </div>

</div>

<div class="btn-container">
    <div class="center">
        <h6><span (click)="navigate('skip')" class="skip"> Skip</span>
            <span (click)="onNext()" class="next">Next</span>
        </h6>
    </div>
</div>
<!-- <div class="btn-group" role="group" aria-label="Carousel toggle controls">
  <button type="button" (click)="showNavigationArrows = !showNavigationArrows" class="btn btn-outline-dark btn-sm">Toggle navigation arrows</button>
  <button type="button" (click)="showNavigationIndicators = !showNavigationIndicators" class="btn btn-outline-dark btn-sm">Toggle navigation indicators</button>
</div> -->