<router-outlet style="height: 100%"></router-outlet>
<div class="popup-container" *ngIf="versionUpdateRequired">
    <div class="app-update-popup">
        <div class="update-app-content">
            <h2 class="popup-heading">Please Update App</h2>
            <h6>New version available, to continue the game please update the application</h6>
            <div class="update-btn"
                (click)="updateApp()">
                <p>Update</p>
            </div>
        </div>
    </div>
</div>