<div class="container">
    <div class="headerOption">
        <div class="row">
            <div class="col-5">
                <div class="user-count-container">
                    <img src="../../../assets/icons/participantIcon.png" alt="coins">
                    <p *ngIf="gameTimer">{{participantsCount}}</p>
                    <p *ngIf="!gameTimer">{{joinedParticipantCount}}</p>
                </div>
            </div>
            <!-- <div class="col-1"></div> -->
            <div class="col-3">
                <div class="life-container">
                    <img src="../../../assets/icons/heartIcon.png" alt="lifes">
                    <p>{{lifesCount}}</p>
                </div>
            </div>
            <!-- <div class="col-1"></div> -->
            <div class="col-4">
                <div class="balance-container">
                    <p>{{currency}} {{prizeMoney}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="timmer-after" *ngIf="gameNotStartedText">
        <p>Game is not started yet</p>
    </div>
    <div class="timmer-after" *ngIf="gameLost && !gameEnd">
        <p>You were eliminated</p>
    </div>
    <div class="timmer-after" *ngIf="gameEnd">
        <p>{{gameEndText}}</p>
    </div>

    <div class="timmer-after" *ngIf="placeFingerTimer">
        <p>{{gameTimerHeading}}</p>
        <div class="time-container">
            <div class="timer">
                <p class="time">{{m1}}</p>
            </div>
            <div class="timer">
                <p class="time">{{m2}}</p>
            </div>
            <p class="time-separator">:</p>
            <div class="timer">
                <p class="time">{{s1}}</p>
            </div>
            <div class="timer">
                <p class="time">{{s2}}</p>
            </div>
        </div>
        <div class="timer-text-container">
            <p>Minutes</p>
            <p>Second</p>
        </div>
    </div>


    <div class="timmer-after" *ngIf="gameTimer">
        <p>Time Elapsed</p>
        <div class="time-after-container">
            <div class="timer-after">
                <p class="time-after">{{Ah1}}</p>
            </div>
            <div class="timer-after">
                <p class="time-after">{{Ah2}}</p>
            </div>
            <p class="time-after-separator">:</p>
            <div class="timer-after">
                <p class="time-after">{{Am1}}</p>
            </div>
            <div class="timer-after">
                <p class="time-after">{{Am2}}</p>
            </div>
            <p class="time-after-separator">:</p>
            <div class="timer-after">
                <p class="time-after">{{As1}}</p>
            </div>
            <div class="timer-after">
                <p class="time-after">{{As2}}</p>
            </div>
        </div>
        <div class="timer-text-after-container">
            <p>Hours</p>
            <p>Minutes</p>
            <p>Second</p>
        </div>

    </div>
    <div class="addvertise" *ngIf="iframVisibility">
        <iframe width="100%" height="160px" [src]="videoUrl | urlSenitize" frameborder="0" allowfullscreen allow="autoplay"></iframe>
        <!-- <img src="../../../assets/icons/dummyAddImg.png" alt="addvertise"> -->
    </div>
    <div class="game-pad-container" (touchstart)="touchStartt($event)" 
    (touchmove)="touchMovee($event)" (touchend)="touchEndd($event)">
        <div class="game-pad" #gamePad id="gamePad" >
            <ng-lottie class="animOverlap" [options]="placeFingerOption"
            [ngStyle]="((placeFinger && !enableAnimation) && (!lifeUsed && !gameLost))?{'opacity': '1'} : {'opacity': '0'}" 
            (animationCreated)="animationCreated($event)">
            </ng-lottie>
            <!-- <ng-lottie *ngIf="enableAnimation" [options]="followFingerOption"
                (animationCreated)="animationCreated($event)"></ng-lottie> -->
            <!-- <ng-lottie class="animOverlap" [ngStyle]="lifeUsed?{'opacity': '1'} : {'opacity': '0'}"
             [options]="LifeUsedoptions" (animationCreated)="animationCreated($event)">
            </ng-lottie> -->
            <div class="lifeUse_counter" [ngStyle]="lifeUsed?{'opacity': '1'} : {'opacity': '0'}">
                <p>{{lifeUserCounter}}</p> 
            </div>
            <div class="followObj" id="followFinger" [ngStyle]="enableAnimation?{'opacity': '1'} : {'opacity': '0'}">
            </div>
        </div>
    </div>
    <!-- <ng-lottie [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie> -->
</div>

<div class="popup-container" *ngIf="lifePopup">
    <div class="use-life-popup">
        <div class="popup-header">
            <img src="../../../assets/icons/lifeIcon.png" alt="clock">
        </div>
        <div class="popup-main-content">
            <h2 class="popup-heading">Use your extra lives</h2>
            <div class="popup-timer">
                <div class="popup-time-container">
                    <div class="popup-time">
                        <p class="time">0</p>
                    </div>

                    <div class="popup-time">
                        <p class="time">{{timeLeft}}</p>
                    </div>

                </div>
                <div class="timer-text-container">
                    <p>Second</p>
                </div>
                <div style="display: flex; justify-content: center;">
                    <div class="no-btn" (click)="useLife('no')">
                        <p>No</p>
                    </div>
                    <div class="yes-btn" (click)="useLife('yes')">
                        <p>Yes</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popup-container" *ngIf="gameWonPopUp">
    <div class="game-complete-popup">
        <div class="popup-header" style="margin-bottom: 40px;">
            <img src="../../../assets/icons/winImg.png" alt="clock">
        </div>
        <div class="popup-complete-content">
            <h2 class="popup-heading">You won the game</h2>
            <div class="popup-position-container">
                <img src="../../../assets/icons/positionImg.png" alt="clock">
            </div>
            <div class="popup-timer">
                <div style="display: flex; justify-content: center;">
                    <div class="skip-btn" (click)="navigateToHome()">
                        <p>Home</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>